
.idea/
/StandardScripts/DataToView/
/Figures/Data/
/ModelDevelopment/Segmentation/RoughResults/Model.pth
/ModelDevelopment/Processing/__pycache__/
QualityIndexThings/Calibration/RegressionSmallCVFoldTest/Model133_woCotTest_ReliabilityDiagram.png

QualityIndexThings/Scratch/FinalModelOutputs/Precipitation_Full_TestSeen_ImageNamesWithModelPredictions.xlsx

QualityIndexThings/Scratch/FinalModelOutputs/Cloud_Full_TestSeen_ImageNamesWithModelPredictions.xlsx

QualityIndexThings/Calibration/ReliabilityDiagram_Precipitation_Full_TestSeen.png

QualityIndexThings/Calibration/ReliabilityDiagram_Cloud_Full_TestSeen.png

QualityIndexThings/__pycache__/

QualityIndexThings/Calibration/RegressionSmallCVFoldTest/Model133_woCotValid_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_Valid.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_TestUnseen.xlsx

QualityIndexThings/Calibration/RegressionSmallCVFoldTest/Model227_woCotValid_ReliabilityDiagram.png

QualityIndexThings/Calibration/RegressionSmallCVFoldTest/Model227_woCotTest_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_Valid.xlsx
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_TrainExpanded.xlsx
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_TrainExpanded.xlsx
/QualityIndexThings/CalculatingMetrics/CalculatedMetricsSheets/
/QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs/
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/
