
.idea/
/StandardScripts/DataToView/
/Figures/Data/
/ModelDevelopment/Segmentation/RoughResults/Model.pth
/ModelDevelopment/Processing/__pycache__/
QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model133_woCotTest_ReliabilityDiagram.png

QualityIndexThings/Scratch/FinalModelOutputs/Precipitation_Full_TestSeen_ImageNamesWithModelPredictions.xlsx

QualityIndexThings/Scratch/FinalModelOutputs/Cloud_Full_TestSeen_ImageNamesWithModelPredictions.xlsx

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagram_Precipitation_Full_TestSeen.png

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagram_Cloud_Full_TestSeen.png

QualityIndexThings/__pycache__/

QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model133_woCotValid_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_Valid.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model227_woCotValid_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model227_woCotTest_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_Valid.xlsx
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Cloud_Full_TrainExpanded.xlsx
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/Precipitation_Full_TrainExpanded.xlsx
/QualityIndexThings/CalculatingMetrics/CalculatedMetricsSheets/
/QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs/
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs/

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults/Lastarria_AllSamples_Unbalanced_ThresholdChoice.csv

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/IndexValues/Lastarria_AllSamples_Unbalanced_QualityIndexes.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/Cloud_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/Cloud_Full_TestSeenExcludingKilauea.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/Precipitation_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetobs_cloud_Cloud_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetobs_cloud_Cloud_Full_TestUnseen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetprecipitation_Precipitation_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetprecipitation_Precipitation_Full_TestUnseen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetprecipitation_Precipitation_Full_TrainExpanded.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetprecipitation_Precipitation_Full_Valid.jpg

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults/CNNwDDComparison_Lastarria_AllSamples_Unbalanced_QualityIndexes.csv

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults/LastarriaOptimalThresholdFigure_OkabeIto.jpg

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/IndexValues/Lastarria_AllSamples_Unbalanced_QualityIndexes.xlsx

QualityIndexThings/CalculatingMetrics/__pycache__/Functions.cpython-310.pyc

QualityIndexThings/CalculatingMetrics/Mismatch log.xlsx
