
.idea/
/StandardScripts/DataToView/
/Figures/Data/
/ModelDevelopment/Segmentation/RoughResults/Model.pth
/ModelDevelopment/Processing/__pycache__/
QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model133_woCotTest_ReliabilityDiagram.png

QualityIndexThings/Scratch/FinalModelOutputs/Precipitation_Full_TestSeen_ImageNamesWithModelPredictions.xlsx

QualityIndexThings/Scratch/FinalModelOutputs/Cloud_Full_TestSeen_ImageNamesWithModelPredictions.xlsx

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/ReliabilityDiagram_Precipitation_Full_TestSeen.png

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/ReliabilityDiagram_Cloud_Full_TestSeen.png

QualityIndexThings/__pycache__/

QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model133_woCotValid_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Cloud_Full_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Cloud_Full_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Cloud_Full_Valid.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Precipitation_Full_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Precipitation_Full_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model227_woCotValid_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/Calibration/RegressionSmallCVFoldTest/Model227_woCotTest_ReliabilityDiagram.png

QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Precipitation_Full_Valid.xlsx
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Cloud_Full_TrainExpanded.xlsx
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/Precipitation_Full_TrainExpanded.xlsx
/QualityIndexThings/CalculatingMetrics/CalculatedMetricsSheets/
/QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Original/
/QualityIndexThings/CalculatingMetrics/FinalModelsApplicationOutputs_Original/

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_OriginalModels/Lastarria_AllSamples_Unbalanced_ThresholdChoice.csv

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/IndexValues/Lastarria_AllSamples_Unbalanced_QualityIndexes.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/Cloud_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/Cloud_Full_TestSeenExcludingKilauea.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/Precipitation_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/Targetobs_cloud_Cloud_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/Targetobs_cloud_Cloud_Full_TestUnseen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/Targetprecipitation_Precipitation_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/Targetprecipitation_Precipitation_Full_TestUnseen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetprecipitation_Precipitation_Full_TrainExpanded.jpg

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetprecipitation_Precipitation_Full_Valid.jpg

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_OriginalModels/CNNwDDComparison_Lastarria_AllSamples_Unbalanced_QualityIndexes.csv

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_OriginalModels/LastarriaOptimalThresholdFigure_OkabeIto.jpg

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/IndexValues/BeforeModelRetraining/Lastarria_AllSamples_Unbalanced_QualityIndexes.xlsx

QualityIndexThings/CalculatingMetrics/__pycache__/Functions.cpython-310.pyc

QualityIndexThings/CalculatingMetrics/Mismatch log.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/CheckingImgValues_AllCloudDFs.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/MismatchedDataLog.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/NewModelAppCode_OGSet_SuplDataPath.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/NewModelAppCode_UpdatedORDADataPaths.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/OldModelAppCode_FinalTrain_OGSet_OGDataPathPredictions.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/OldModelAppCode_OGSet_OGDataPath_SuplSMMPathPredictions.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/OldModelAppCode_OGSet_SuplDataPathPredictions.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/OldModelAppCode_OGSet_SupplMainDataPathOGOthersPredictions.xlsx

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/OutputsDFs/OldModelAppCode_OGSet_SupplTemporalPathOGOthersPredictions.xlsx

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_OriginalModels/LastarriaOptimalThresholdFigure_TolVibrant.jpg

QualityIndexThings/CalculatingMetrics/DebuggingTwoPredictionShifts/CheckingImgValues_AllPrecipDFs.xlsx

QualityIndexThings/DecideWhetherToUseCorrectedDataframes/CorrectedMistakes_NoDuplicates.xlsx

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/OriginalModels/Targetprecipitation_Precipitation_Full_TestSeen_4bins.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/PerThresholdPR_Cloud_Full_TestSeen.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/PerThresholdPR_Cloud_Full_TestSeenExcludingKilauea.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/PerThresholdPR_Precipitation_Full_TestSeen.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/PRvsThreshold_Cloud_Full_TestSeen.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/PRvsThreshold_Cloud_Full_TestSeenExcludingKilauea.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/OriginalModels/PRvsThreshold_Precipitation_Full_TestSeen.jpg

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/MergedLabels_WOriginalModelPredictions/consensus_calc_obs_cloud.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/MergedLabels_WOriginalModelPredictions/consensus_calc_precipitation.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/MergedLabels_WOriginalModelPredictions/merged_precipitation.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/MergedLabels_WOriginalModelPredictions/merged_obs_cloud.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/SelectedSamplesForLabelling_Batch1_CloudIndex.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/SelectedSamplesForLabelling_Batch1_PrecipIndex.xlsx

QualityIndexThings/Inter-LabellerAgreement/SamplesWithDisconsensusOnCloud.xlsx

QualityIndexThings/Inter-LabellerAgreement/SamplesWithDisconsensusOnCloud_ReviewedForHaze.xlsx

QualityIndexThings/DecideWhetherToUseCorrectedDataframes/CorrectedMistakes_NoDuplicates_wOldValsToCompare.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/CalculatedMetricsSheets_OriginalModel/obs_cloud_binary_agreement_percentages.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/CalculatedMetricsSheets_OriginalModel/obs_cloudsample_set.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/CalculatedMetricsSheets_OriginalModel/precipitation_binary_agreement_percentages.xlsx

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/CalculatedMetricsSheets_OriginalModel/precipitationsample_set.xlsx

QualityIndexThings/CalculateDatasetSplitCounts/PrecipitationFullSplit.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loCotopaxi_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loCotopaxi_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loCotopaxi_Train.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loKilauea_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loKilauea_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loKilauea_Train.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loMerapi_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loMerapi_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loMerapi_Train.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loReventador_TestSeen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loReventador_TestUnseen.xlsx

QualityIndexThings/CalculatingMetrics/CVModelsApplicationOutputs_Re-trainedModels/Precipitation_CV_loReventador_Train.xlsx

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_OriginalModels/LastarriaOptimalThresholdFigure_Custom.jpg

*.xlsx

QualityIndexThings/CalculatingMetrics/Calibration/ReliabilityDiagrams/Targetobs_cloud_Cloud_Full_TestSeen.jpg

*.jpg

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/RetrainedModels/PerThresholdPR_Cloud_Full_TestSeen.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/RetrainedModels/PerThresholdPR_Cloud_Full_TestSeen_ExcludingKilauea.csv

QualityIndexThings/CalculatingMetrics/Calibration/PrecisionRecallCurves/RetrainedModels/PerThresholdPR_Precipitation_Full_TestSeen.csv

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_RetrainedPrecipModel/CNNwDDComparison_Lastarria_AllSamples_Unbalanced_QualityIndexes.csv

QualityIndexThings/CalculatingMetrics/DelleDonneIndexes/EvalandCompareResults_RetrainedPrecipModel/Lastarria_AllSamples_Unbalanced_ThresholdChoice.csv

QualityIndexThings/CalculatingMetrics/EvaluatingOnFullDays/OriginalSetOfFullDays/FullDays_StdThreshold_OverallObsPredictions.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels_exclKilauea.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels_KilaueaOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels_LastarriaOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/precipitation_binary_labels.csv

QualityIndexThings/CalculatingMetrics/EvaluatingOnFullDays/OriginalSetOfFullDays/FullDays_SeparateLowerThresholds_OverallObsPredictions.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels_CotopaxiOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels_MerapiOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/obs_cloud_binary_labels_ReventadorOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/precipitation_binary_labels_CotopaxiOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/precipitation_binary_labels_KilaueaOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/precipitation_binary_labels_LastarriaOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/precipitation_binary_labels_MerapiOnly.csv

QualityIndexThings/Inter-LabellerAgreement/ManualLabels/KDAplha/CSVFilesToUpload/precipitation_binary_labels_ReventadorOnly.csv

QualityIndexThings/CalculatingMetrics/EvaluatingOnFullDays/FullDays_StdThreshold_OverallObsPredictions.csv
